.App {
  text-align: center;
  background-color: #fbebd2;
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.header ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.header li {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.home-image {
  width: 800px;
}

.home-image {
  width: 100%;
  max-width: 800px;
}

@media (min-width: 768px) {
  .home-image {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .home-image {
    max-width: 1600px;
  }
}

.about-title {
  font-size: 40px;
}

