.App {
  text-align: center;
  background-color: #fbebd2;
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  padding: 20px;
}

.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header li {
  margin-left: 1rem;
}

.header-image {
  width: 60px;
  margin-right: auto;
}

.nav-header {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}


.home-image {
  width: 70%;
  max-width: 800px;
}

@media (min-width: 768px) {
  .home-image {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .home-image {
    max-width: 1600px;
  }
  .about-picture {
    max-width: 2000px;
  }
}

.about-title {
  font-size: 40px;
}

.about-picture {
  width: 500px;
  border-radius: 30px;
}

.text-about {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: normal;
}

.footer-div {
  padding-bottom: 3px;
  padding-top: 10px;
  background-color: #ede0c9;
}

.icon-contact {
  width: 100px;
}

.email-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-contact {
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-home {
  margin-bottom: 350px;
}

/* .text {
  width: 400px;
} */